# Artificial Neural Networks

### Customer retention Analytics

##### Business Problem:
An International bank collected a sample data of 10,000 customers. They observed that some of their custimers are leaving or churning in an unusually high rate and they want to find understand and access why their customers keep leaving. They have hiered you as a data scientist to look into the data to give then some insight.

##### Data:
The data was collected within the last 5 months, the feautures include the customer's name, creditscore, geography, gendey,age,tenure,balnce, number of products(accounts),credit card status(whether they have one or not), estimated salary, activity status(active member or not) and if the customer remained with them.

#### Goal:
Your goal is to create a geodemographic segmentation  to identify which of the customers have the highest risk of leaving.

## Import Libraries

In [1]:
import numpy as np
import pandas as  pd
import os
import matplotlib.pyplot as plt

# data encoding
from sklearn.preprocessing import LabelEncoder

# splitting the data
from sklearn.model_selection import train_test_split

# Standardization - feature scaling
from sklearn.preprocessing import StandardScaler

# Deep learning Libraries
import keras
from keras.models import Sequential
from keras.layers import Dense

# evaluating the mode
from sklearn.metrics import classification_report, confusion_matrix

Using TensorFlow backend.

In [2]:
#!python -m pip install --user --upgrade pip

#!pip3 install google-cloud-bigquery==1.6.0 pandas==0.23.4 matplotlib==3.0.3 scipy==1.2.1 scikit-learn==0.22 tensorflow==2.0 keras==1.2.2 --user

In [3]:
DATA_DIR = 'data/'
data = pd.read_csv(DATA_DIR + "Churn_Modelling.csv")

In [4]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## Data Preprocessing

In [5]:
X = data.iloc[:, 3:-1]
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73
10,528,France,Male,31,6,102016.72,2,0,0,80181.12
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01
12,476,France,Female,34,10,0.00,2,1,0,26260.98
13,549,France,Female,25,5,0.00,2,0,0,190857.79
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81
19,726,France,Female,24,6,0.00,2,1,1,54724.03
20,732,France,Male,41,8,0.00,2,1,1,170886.17
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53
23,669,France,Male,46,3,0.00,2,0,1,8487.75
24,846,France,Female,38,5,0.00,1,1,1,187616.16
25,577,France,Male,25,3,0.00,2,0,1,124508.29
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95
27,571,France,Male,44,9,0.00,2,0,0,38433.35
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43
29,411,France,Male,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02
9973,611,France,Male,27,7,0.00,2,1,1,157474.10
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78
9977,683,France,Female,32,9,0.00,2,1,1,24991.92
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40
9983,613,France,Male,40,4,0.00,1,0,0,151325.24
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41
9988,775,France,Male,30,4,0.00,2,1,0,49337.84
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52
9994,800,France,Female,29,2,0.00,2,0,0,167773.55
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [6]:
y = data.iloc[:,-1:]
y

      Exited
0          1
1          0
2          1
3          0
4          0
5          1
6          0
7          1
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         1
17         0
18         0
19         0
20         0
21         0
22         1
23         0
24         0
25         0
26         0
27         0
28         0
29         0
...      ...
9970       0
9971       0
9972       0
9973       0
9974       0
9975       1
9976       0
9977       0
9978       0
9979       0
9980       0
9981       1
9982       1
9983       0
9984       0
9985       0
9986       0
9987       0
9988       0
9989       0
9990       0
9991       1
9992       0
9993       0
9994       0
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

#### Data encoding

In [7]:
# encoding country
encoder_X_1= LabelEncoder()
X.iloc[:,1] = encoder_X_1.fit_transform(X.iloc[:,1])

In [8]:
# encoding gender
encoder_X_2= LabelEncoder()
X.iloc[:,2] = encoder_X_2.fit_transform(X.iloc[:,2])

In [9]:
# we would also use the dummy variable because they are norminal variables


dummy = pd.get_dummies(X["Geography"], prefix = ['Geography'],drop_first=True)
X=pd.concat([X,dummy], axis = 1)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,['Geography']_1,['Geography']_2
0,619,0,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0,1

In [10]:
X=X.drop(columns = ['Geography'], axis = 1)

In [11]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,['Geography']_1,['Geography']_2
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1
5,645,1,44,8,113755.78,2,1,0,149756.71,0,1
6,822,1,50,7,0.00,2,1,1,10062.80,0,0
7,376,0,29,4,115046.74,4,1,0,119346.88,1,0
8,501,1,44,4,142051.07,2,0,1,74940.50,0,0
9,684,1,27,2,134603.88,1,1,1,71725.73,0,0
10,528,1,31,6,102016.72,2,0,0,80181.12,0,0
11,497,1,24,3,0.00,2,1,0,76390.01,0,1
12,476,0,34,10,0.00,2,1,0,26260.98,0,0
13,549,0,25,5,0.00,2,0,0,190857.79,0,0
14,635,0,35,7,0.00,2,1,1,65951.65,0,1
15,616,1,45,3,143129.41,2,0,1,64327.26,1,0
16,653,1,58,1,132602.88,1,1,0,5097.67,1,0
17,549,0,24,9,0.00,2,1,1,14406.41,0,1
18,587,1,45,6,0.00,1,0,0,158684.81,0,1
19,726,0,24,6,0.00,2,1,1,54724.03,0,0
20,732,1,41,8,0.00,2,1,1,170886.17,0,0
21,636,0,32,8,0.00,2,1,0,138555.46,0,1
22,510,0,38,4,0.00,1,1,0,118913.53,0,1
23,669,1,46,3,0.00,2,0,1,8487.75,0,0
24,846,0,38,5,0.00,1,1,1,187616.16,0,0
25,577,1,25,3,0.00,2,0,1,124508.29,0,0
26,756,1,36,2,136815.64,1,1,1,170041.95,1,0
27,571,1,44,9,0.00,2,0,0,38433.35,0,0
28,574,0,43,3,141349.43,1,1,1,100187.43,1,0
29,411,1,29,0,59697.17,2,1,1,53483.21,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9970,518,1,42,7,151027.05,2,1,0,119377.36,0,0
9971,833,0,34,3,144751.81,1,0,0,166472.81,0,0
9972,758,1,26,4,155739.76,1,1,0,171552.02,0,0
9973,611,1,27,7,0.00,2,1,1,157474.10,0,0
9974,583,1,33,7,122531.86,1,1,0,13549.24,0,0
9975,610,1,50,1,113957.01,2,1,0,196526.55,1,0
9976,637,0,33,7,103377.81,1,1,0,84419.78,0,0
9977,683,0,32,9,0.00,2,1,1,24991.92,0,0
9978,774,1,40,9,93017.47,2,1,0,191608.97,0,0
9979,677,0,58,1,90022.85,1,0,1,2988.28,0,0
9980,741,1,35,6,74371.49,1,0,0,99595.67,0,1
9981,498,1,42,3,152039.70,1,1,1,53445.17,1,0
9982,655,0,46,7,137145.12,1,1,0,115146.40,1,0
9983,613,1,40,4,0.00,1,0,0,151325.24,0,0
9984,602,1,35,7,90602.42,2,1,1,51695.41,1,0
9985,659,1,36,6,123841.49,2,1,0,96833.00,0,0
9986,673,1,47,1,183579.54,2,0,1,34047.54,1,0
9987,606,1,30,8,180307.73,2,1,1,1914.41,0,1
9988,775,1,30,4,0.00,2,1,0,49337.84,0,0
9989,841,1,28,4,0.00,2,1,1,179436.60,0,1
9990,714,1,33,3,35016.60,1,1,0,53667.08,1,0
9991,597,0,53,4,88381.21,1,1,0,69384.71,0,0
9992,726,1,36,2,0.00,1,1,0,195192.40,0,1
9993,644,1,28,7,155060.41,1,1,0,29179.52,0,0
9994,800,0,29,2,0.00,2,0,0,167773.55,0,0
9995,771,1,39,5,0.00,2,1,0,96270.64,0,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,0

## Install Kubeflow pipelines SDK

In [12]:
#!pip3 install kfp --upgrade --user

Check if the install was successful:

In [13]:
!which dsl-compile

## Build the Components

In [21]:
# Import Kubeflow SDK
import kfp
import kfp.dsl as dsl
import kfp.components as comp


import pickle
import tensorflow as tf
from tensorflow.python import keras

In [22]:
# Download the dataset and split into training and test data. 
DATA_DIR = 'data/'
data = pd.read_csv(DATA_DIR + "Churn_Modelling.csv")
X_train,X_test,y_train,y_test = train_test_split( X,y, test_size=0.2, random_state = 0)
# Normalize the data.
sc =StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

y_train = y_train.values
y_test = y_test.values
def train(data_path, model_file):


    # Define the model using Keras.
    classifier = keras.models.Sequential()
    classifier.add(keras.layers.Dense(units =6, activation='relu', input_dim=11))
    classifier.add(keras.layers.Dense(units =6, activation='relu'))
    classifier.add(keras.layers.Dense(units =1, activation='sigmoid'))

    classifier.summary()

    classifier.compile(optimizer = 'adam', loss='binary_crossentropy' 
                    , metrics =['accuracy'])

    return classifier

In [23]:
classifier = train("", "")
# # Run a training job with specified number of epochs
classifier.fit(X_train, y_train, batch_size=10 , epochs=2)

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_7 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________
Train on 8000 samples
Epoch 1/2
8000/8000 [==============================] - 2s 188us/sample - loss: 0.4977 - accuracy: 0.7850
Epoch 2/2
8000/8000 [==============================] - 1s 138us/sample - loss: 0.4397 - accuracy: 0.7960

In [24]:
#Evaluate the model and print the results
test_loss, test_acc = classifier.evaluate(X_test,  y_test, verbose=0)
print('Test accuracy:', test_acc)

#Save the model to the designated 
classifier.save(os.path.join("trained_model"))

#Save the test_data as a pickle file to be used by the predict component.
with open(os.path.join("test_data"), 'wb') as f:
    pickle.dump((X_test,  y_test), f)

Test accuracy: 0.7975
INFO:tensorflow:Assets written to: trained_model/assets

In [25]:
def predict(data_path, model_file, churn_rate):
    
    # func_to_container_op requires packages to be imported inside of the function.
    import pickle

    import tensorflow as tf
    from tensorflow import keras

    import numpy as np
    
    # Load the saved Keras model
    classifier = keras.models.load_model("trained_model")

    # Load and unpack the test_data
    with open(os.path.join("test_data"),'rb') as f:
        test_data = pickle.load(f)
    # Separate the test_images from the test_labels.
    X_test,  y_test = test_data


    # See https://github.com/kubeflow/pipelines/issues/2320 for explanation on this line.
    churn_rate = int(churn_rate)

    # make predictions.
    y_pred = classifier.predict(X_test)


    # create a threshold for the confution matrics
    y_pred=(y_pred>0.5)
    
    with open(f'result.txt', 'w') as result:
        result.write(" Prediction: {} ".format(y_pred))
    
    print('Prediction has be saved successfully!')

In [27]:
predict("", "", 1)

Prediction has be saved successfully!

In [28]:
# Create train and predict lightweight components.
train_op = comp.func_to_container_op(train, base_image='tensorflow/tensorflow:latest-gpu-py3')
predict_op = comp.func_to_container_op(predict, base_image='tensorflow/tensorflow:latest-gpu-py3')

## Build Kubeflow Pipeline

In [29]:
#Create a client to enable communication with the Pipelines API server.
client = kfp.Client()

In [30]:
# Define the pipeline
@dsl.pipeline(
   name='Customer Churn Pipeline',
   description='An ML pipeline that performs Customer Churn model training and prediction.'
)

# Define parameters to be fed into pipeline
def churn_container_pipeline(
    data_path: str,
    model_file: str, 
    churn_rate: int
):
    
    # Define volume to share data between components.
    vop = dsl.VolumeOp(
    name="create_volume",
    resource_name="data-volume", 
    size="1Gi", 
    modes=dsl.VOLUME_MODE_RWM)
    
    # Create churn training component.
    churn_training_container = train_op(data_path, model_file) \
                                    .add_pvolumes({data_path: vop.volume})

    # Create Churn prediction component.
    churn_predict_container = predict_op(data_path, model_file, churn_rate) \
                                    .add_pvolumes({data_path: churn_training_container.pvolume})
    
    # Print the result of the prediction
    mnist_result_container = dsl.ContainerOp(
        name="print_prediction",
        image='library/bash:4.4.23',
        pvolumes={data_path: churn_predict_container.pvolume},
        arguments=['cat', f'{data_path}/result.txt']
    )

## Run the Pipeline

In [31]:
DATA_PATH = '/churn'
MODEL_PATH='churn_classifier.h5'
# An integer representing an image from the test set that the model will attempt to predict the label for.
CHURN_RATE = 3

In [32]:
pipeline_func = churn_container_pipeline

In [33]:
experiment_name = 'costumer_churn_kubeflow'
run_name = pipeline_func.__name__ + ' run'

arguments = {"data_path":DATA_PATH,
             "model_file":MODEL_PATH,
             "churn_rate": CHURN_RATE}

# Compile pipeline to generate compressed YAML definition of the pipeline.
kfp.compiler.Compiler().compile(pipeline_func,  
  '{}.zip'.format(experiment_name))

# Submit pipeline directly from pipeline function
run_result = client.create_run_from_pipeline_func(pipeline_func, 
                                                  experiment_name=experiment_name, 
                                                  run_name=run_name, 
                                                  arguments=arguments)